* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* utility classes */
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.justify-start {
  justify-content: flex-start;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

/* nav classes */
nav {
  min-height: 50px;
  background-color: cornflowerblue;
  padding: .5rem 1.5rem;
}

.logo {
  width: 2.5rem;
}

header {
  min-height: 100px;
  background-color: orange;
}

main {
  min-height: 100px;
  background-color: aquamarine;
}

.posts {
  min-height: 200px;
  background-color: maroon;
  flex: 2;
}

.sidebar {
  min-height: 250px;
  background-color: olive;
  flex: 1;
}