@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;600&display=swap');

body {
  color: whitesmoke;
  font-family: 'Roboto Slab', serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

.text-center {
  text-align: center;
}