h1 {
    color: rebeccapurple;
}

a {
    color: cornflowerblue;
    height: 200px;
}

h4 {
    background-color: blanchedalmond;
}

button {
    min-width: 150px;
    min-height: 50px;
}

body {
    padding-bottom: 500px;
}

.nav {
    background-color: hotpink;
    min-height: 200px;
    display: inline-block;
    min-width: 150px;
}

.content {
    background-color: #ed2939;
    min-height: 500px;
    display: inline-block;
    min-width: 600px;
}

.circle {
    background-color: gold;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
