body {
  margin: 0;
}

h1 {
  background-color: rgb(25, 25, 25);
  color: white;
  margin: 0 0 1.5rem;
  padding: .25rem 1.5rem;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.container {
  width: 35rem;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

aside {
  flex: 1;
  align-self: flex-start;
  padding: 1.5rem;
  box-shadow: 3px 3px .5rem rgba(0, 0, 0, .2);
  border-radius: .2rem;
}

main {
  flex: 3;
}

.icon {
  font-size: 3rem;
  color: rebeccapurple;
}

.joke {
  box-shadow: 3px 3px .5rem rgba(0, 0, 0, .2);
  padding: 1.5rem;
  /* border: 1px solid grey; */
  border-radius: .2rem;
  margin-bottom: 1.5rem;
}

.joke-footer {
  text-align: right;
}

.btn {
  padding: .5rem 1rem;
  border: 0;
  background-color: goldenrod;
  border-radius: .2rem;
  cursor: pointer;
  font-size: 1.5rem;
}